.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>li>a:hover, .navbar-collapse ul ul li a:hover, .submit input[type="submit"], .pricing-tables .basic:hover, .pricing-tables .pro, .latest-blog ul li .span, .copyright .social-media ul li:hover, .dropdown-menu, .register form button, .top-header2, .about .social-media ul li:hover, .widget-tags ul li a:hover, .news .divider, .gallery-div .divider, .contact-info ul i, .owl-theme .owl-controls .owl-buttons .owl-prev, .owl-theme .owl-controls .owl-buttons .owl-next  {
    background-color: #ec407a; }

.description { background-color: rgba(236, 64, 122, 0.77); }

@media (max-width:600px) {
	.description { background-color: #ec407a; }
}

.search { background-color: #fffff; }

.bg { background-color: rgba(236, 64, 122, 0.77);}

.view-first .mask{background-color: rgba(236, 64, 122, 0.77);}

.scroll-top{background-color: #ec407a;}

.Call-to-action .btn-default:hover { background-color:#ffffff; color:#000000; }

.featured { background-color: #ffffff; }

.img-feat .hover-img { background-color: rgba(212, 57, 110, 0.67); }

.testimonials { background-color: #000000; }

.testimonials .bg { background-color: rgba(0, 0, 0, 0.59); }

.pricing-tables { background-color: #ffffff; }

.pricing-tables .basic:before { background-color: #000000;}

.pricing-tables .price-pro:before { background-color: #000000; }

Footer { background-color: #262626; }

.top-header .ul-top .dropdown-menu > li > a:hover { background-color: transparent; color: #000000; }

.register { background-color: rgba(212, 57, 110, 0.67); }

.register form input { background-color: white; }

.register form button:hover { background-color: #fff; color: #ec407a; }

.subscripte form input[type="email"] {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff; }
	
.subscripte .btn-default { color: #EC407A; background-color: #ffffff; }

.language { background-color: rgba(255, 255, 255, 0); }

.top-header .ul-top .language a:hover { background-color:#5BB7DE !important; color: #ffffff !important; }
	
.top-header .ul-top .language a {   background-color: rgba(236, 64, 122, 0.7) !important;}

.bg-all { background-color: rgba(236, 64, 122, 0.62); }

.about .social-media ul li { background-color: #808080; }

.about .social-media ul li i { color: #ffffff; }

.button.button-border {color: #ffffff; background-color: #ec407a; }

.button {
  background-color: #ec407a;
  border: 1px solid #ec407a;
  color: #fff;}
  
.footer-wrap .tagcloud a { background-color: #ffffff; color: #808080; }

.footer-wrap .tagcloud a:hover { background-color:#ec407a !important; color:#ffffff !important; }

.search-properties { background-color:#fff;}

.widget-tags ul li a { background-color:#202629; color:#ffffff; }

.widget-social ul li a { background-color:#ececec; color:#a3a2a2; }

.widget-social ul li a:hover { background-color:#ec407a; color:#fff; }

.min-width {
  background-color: rgba(236, 64, 122, 0.63);
  border: 10px solid rgba(255, 255, 255, 0.44); }
	
.min-width .divider { background-color: #ffffff !important; }

.load input[type="submit"] {
	color: #ffffff;
	background-color: #4ebff3;}

.load input[type="submit"]:hover { background-color:#000000; }

#contactform .form-control {
    color: #555;
    background-color: #fff;
    border: 1px solid #dddddd;
    color: #808080;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .0); }
  
#contactform .form-control:focus { background-color: #ec407a; color:#fff; }
 
.tparrows { background: rgba(236, 64, 122, 1) !important; }

.tparrows:hover { background: #f483a9 !important; }

{ background-color:#ec407a;}
 
{ background-color:#ec407a; }

.load input[type="submit"] {
  color: #ffffff;
  background-color: #ec407a;}
 
.navbar-collapse ul ul li:hover a:first-child {border-top:1px solid #ec407a; }

.navbar-collapse ul ul li:hover a:last-child { border-bottom:1px solid #ec407a; }
 
 
 